[submodule "SRC/components/lvgl"]
	path = SRC/components/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "SRC/components/lvgl_esp32_drivers"]
	path = SRC/components/lvgl_esp32_drivers
	url = https://github.com/lvgl/lvgl_esp32_drivers.git
